svg{
    font-size: 10px;
    margin: 10px;
    fill-opacity: 0.5;

}

.legend-font{
    fill-opacity: 1;
}

#svg-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    text-align: center;
    font-family: 'Quattrocento', serif;
    background-color: khaki;
}


#tooltip{
    position: absolute;
    text-align: start;
    font-size: 12px;
    width: 170px;
    height: 60px;
    padding: 5px;
    pointer-events: none;
    background: ghostwhite;
    border-radius: 5%;
    visibility: hidden;
    color: black;
}

.tile:hover{
    fill: white;
}